body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;

}

.aqua-blue {
    color: red;

}

section {
    display: flex;
}

.half-width {
    width: 50%;

}

.half-width img {
    width: 50%;
}

.half-width {
    padding: 2%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(yellow, orange, red);
    background-color: yellow;
    padding: 10px 10px;
    border-radius: 7px;
    color: rgb(4, 96, 255);
    font-weight: 700;
}

.top-banner {
    background-image: url(images\ \(1\).jpg);
    background-repeat: no-repeat;


}